/* Estilos generales */
body {
    font-family: "Akshar", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F0F0;
    color: #333;
}

header {
    background-color: #264653;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 10px 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #2A9D8F;
    border-radius: 5px;
}
section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Estilo inicial para secciones ocultas */
.section {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

/* Animaciones para la entrada */
.section.left {
    transform: translateX(-100%);
}

.section.right {
    transform: translateX(100%);
}

.section.top {
    transform: translateY(-100%);
}

.section.bottom {
    transform: translateY(100%);
}

/* Clase visible que se aplica cuando la sección está en la vista */
.section.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

/* Sección card slider */
.container {
    max-width: 1100px;
    margin: auto;
}

.card-wrapper {
    position: relative;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.card-item {
    flex: 1;
}

.card-link {
    display: block;
    background: #fff;
    padding: 18px;
    user-select: none;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease-in-out;
}

.card-link:hover {
    border-color: #5372F0;
}

.card-image {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.badge {
    width: fit-content;
    padding: 8px 16px;
    font-size: 0.95rem;
    border-radius: 50px;
    font-weight: 500;
    margin: 16px 0 18px;
}

.badge-video {
    color: #B22485;
    background: #F7DFF5;
}
.badge-book{
    color: #007BFF;
    background: #F7DFF5;
}

.card-title {
    color: #000;
    font-size: 1.19rem;
    font-weight: 600;
}

.card-button {
    height: 35px;
    width: 35px;
    color: #5372F0;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-link:hover .card-button {
    color: #fff;
    background: #5372F0;
}

/* Swiper Pagination */
.swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372F0;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

/* Swiper Navigation Buttons */
.swiper-slide-button {
    color: #5372F0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
}

.swiper-button-prev {
    left: -30px;
}

.swiper-button-next {
    right: -30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }
    .swiper-slide-button {
        display: none;
    }
}

/* Sección para flip-card */
.card-flex{
    display: flex;
    flex-wrap: wrap; /*Permite ser responsivo*/
    justify-content: center; /*cartas centrales*/
    gap: 20px; /* Espacio entre cartas*/ 
}
.card-flex h2{
    text-align: center;
    margin-top: 20px;
    width: 120%;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    margin-top: 60px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #070709;
}
.card .front img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 45px;
    color: #F0F0F0;
    background: rgba(0,0,0,.4);
    text-align:center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(84, 150, 191);
    padding: 10px;
    color: #F0F0F0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #070709; 
}
.card .back .link-card{
    border-top: solid 1px #F0F0F0;
    height: 50px;
    line-height: 50px;
}
.card .back .link-card  a{
    color: #F0F0F0;
    cursor: pointer;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(0deg);
}

/* Animaciones para la entrada desde diferentes direcciones */
@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Asignar animaciones a las clases */
.section.left.visible {
    animation: slideFromLeft 0.6s ease-in-out;
}

.section.right.visible {
    animation: slideFromRight 0.6s ease-in-out;
}

.section.top.visible {
    animation: slideFromTop 0.6s ease-in-out;
}

.section.bottom.visible {
    animation: slideFromBottom 0.6s ease-in-out;
}
/* Iconos del cuerpo */
.social-ico {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size: 1.3rem;
   z-index: 1000;
    
}
.icons {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: width .5s ease;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.icons:first-child {
    border-top-right-radius: 10px;
}

.icons:last-child {
    border-bottom-right-radius: 10px;
}

.icons:hover {
    width: 70px;
}

.icons.fb {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #3A579A;
    color: white;
}

.icons.yb {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: red;
    color: white;
}

.icons.x {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #070709;
    color: white;
}

.icons.instagram {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: white;
}

.icons.tiktok {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #070709;
    color: white;
}


.icons.github {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #070709;
    color: white;
}

/* Media Queries for smaller devices */
@media (max-width: 768px) {
    .icons {
        display: none;
    } 
}

@media (max-width: 480px) {
    .icons{
        display: none;
    }
}


#home {
    background: url('https://cdn.pixabay.com/photo/2024/11/06/20/31/girl-9179307_960_720.png') no-repeat top center/cover;
    color: #fff;
    padding: 100px 20px;
    background-blend-mode: overlay;
}
#about{
    background: url('https://cdn.pixabay.com/photo/2017/01/31/13/40/shooting-star-2024127_1280.png') no-repeat bottom center/cover;
    color: #fff;
    padding: 100px 20px;
    background-blend-mode: overlay;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2.japanese-text {
    font-family: 'Sawarabi Mincho', serif;
}

#services .service, #projects .project, article {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.quit-hip article,a{
    color: black;
    cursor: default;
    text-decoration: none;
}
.project img {
    max-width: 100%;
    border-radius: 5px;
}
/* Estilo general para el formulario */


form {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
}

/* Estilo para las etiquetas y campos de entrada */
label {
    margin-top: 1em;
    color: #333;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 0.8em;
    margin-top: 0.2em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    max-height: 150px;
}

/* Estilo para los botones */
button {
    margin-top: 1em;
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    form {
        padding: 0.5em;
    }

    input[type="text"],
    input[type="email"],
    select,
    textarea {
        font-size: 0.9em;
    }

    button {
        padding: 0.6em;
        font-size: 0.9em;
    }
}


footer {
    background-color: #264653;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    section {
        padding: 20px 10px;
    }

    #services .service, #projects .project, article {
        max-width: 100%;
    }

    form {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    #home {
        padding: 80px 20px;
    }

    .project img {
        width: 100%;
    }
}

/* General Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
/*Iconos de footer*/
/*Change icons size here*/
.social-icons .fab{
	font-size: 1.6em;
}
/*Change icons circle size and color here*/
.social-icons .fab{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.social-icons.icon-circle .fab{ 
	border-radius: 50%;
}

.social-icons.icon-rounded .fab{
	border-radius:4px;
}

.social-icons.icon-flat .fab{
	border-radius: 0;
}

.social-icons.icon-rotate .fab:hover, .social-icons.icon-rotate .fab:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-github{background-color:#070709;} 
.social-icons .fa-youtube{background-color:#C52F30;}
.social-icons .fa-facebook{background-color:#3C599F;}
.social-icons .bi-twitter-x{background-color:#070709;}
.social-icons .fa-x{background-color:#070709;}
.social-icons .fa-tiktok{background-color:#070709;}
.social-icons .fa-instagram{background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); }


/* Estilos generales y responsivos */

.language-switcher {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.lang-button {
    background-color: #303f9f; /* Azul oscuro (primary color) */
    color: #ffffff; /* Blanco (neutral) */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 15px; /* Tamaño reducido */
    margin: 0 5px; /* Espaciado reducido */
    cursor: pointer; /* Cursor de puntero */
    font-size: 14px; /* Tamaño de fuente reducido */
    font-family: 'Roboto', sans-serif; /* Fuente */
    transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

.lang-button:hover {
    background-color: #f44336; /* Rojo (secondary color) al pasar el cursor */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    .language-switcher {
        flex-direction: column; /* Cambiar a diseño de columna para dispositivos muy pequeños */
        align-items: center; /* Centrar los botones */
    }

    .lang-button {
        margin-bottom: 10px; /* Añadir espacio debajo de cada botón */
    }
}


/* Botones de navegación verticales */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 15px;
    cursor: pointer;
    z-index: 1000;
    width: 50px; /* Aumenta el ancho para hacerlos verticales */
    text-align: center;
    line-height: 1.5;
}

.prev {
    left: 10px; /* Ubica el botón a la izquierda */
}

.next {
    right: 10px; /* Ubica el botón a la derecha */
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Indicadores debajo del carrusel */
.indicators {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Ajustes para el contenedor del carrusel */
.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
}

/* Texto sobre las imágenes */
.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption h2 {
    margin: 0;
    font-size: 24px;
    font-family: 'Merriweather', serif;
}

.carousel-caption p {
    margin: 5px 0 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
